.idea/
*.iws
*.iml
.idea_modules/
Thumbs.db
ehthumbs.db
Desktop.ini
hs_err_pid*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!libs/**/*.jar
